* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin: 25px;
  background-color: #efefef;
  border-radius: 25px;
  height: 100%;
}

h1 {
  font-size: 28px;
  text-align: center;
  padding: 15px;
}

h2 {
  font-size: 20px;
}

.formulario {
  width: 50%;
}

.resultado {
  width: 100%;
}

.simulador {
  gap: 100px;
  width: auto;
  display: flex;
  margin: 0;
  padding: 0;
  padding: 30px;
}

label {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  margin: 15px 0 25px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.btn1,
.btn2,
.btn3,
.btn1-1,
.btn2-2{
  cursor: pointer;
  font-size: 11px;
}

.btn2-2:focus{
  background-color: #ed8e53;
  color: white;
}

.btn1-1:focus{
  background-color: #ed8e53;
  color: white;
}

.btn1:focus{
  background-color: #ed8e53;
  color: white;
}

.btn2:focus{
  background-color: #ed8e53;
  color: white;
}

.btn3:focus{
  background-color: #ed8e53;
  color: white;
}

.btn1 {
  width: 50px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  border: 1px solid black;
}

.btn2 {
  width: 60px;
  height: 30px;
  border-radius: 0 5px 5px 0;
  border: 1px solid black;
}

.btn3 {
  width: 45px;
  height: 30px;
  border: 1px solid black;
}

.btn1-1{
  width: 75px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  border: 1px solid black;
}

.btn2-2{
  width: 75px;
  height: 30px;
  border-radius: 0 5px 5px 0;
  border: 1px solid black;

}

.btn > input {
  margin-top: 5px;
  float: left;
}

.form {
  display: flex;
  padding: 0 0 30px 0;
  justify-content: space-between;
}

.input {
  box-shadow: 0 0 0 0;
  outline: 0;
}

input[type="text"] {
  background-color: #efefef;
  width: 150px;
  box-shadow: 0 1px 0 0;
  border: 0 none;
  outline: 0;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.bottom-btn1 {
  width: 50%;
  height: 40px;
  border: 1px solid black;
  border-radius: 8px;
  font-weight: 750;
  cursor: pointer;
}

.bottom-btn2 {
  width: 50%;
  height: 40px;
  border: 0;
  background-color: #969696;
  border-radius: 8px;
  font-weight: 750;
  cursor: pointer;
}

.bottom-btn2:focus{
  background-color: #ed8e53;
}

.card {
  margin-top: -75px;
  background-color: #f4f4f4;
  width: 150px;
  height: 60px;
  border-radius: 2px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.14);
}

.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  width: 50%;
}

.card > p {
  font-size: 12px;
  margin-top: 5px;
  font-weight: bold;
}

.card-sesion {
  width: 600px;
  margin: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container p{
  margin-top: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 160px 160px 160px;
  grid-template-rows: 70px 70px;
  gap: 30px 30px;
  grid-auto-flow: row;
  grid-template-areas:
    "card1 card2 card3"
    "card4 card5 card6";
}

.card1, .card2, .card3, .card4, .card5, .card6{
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 6px 4px rgba(74,74,74,0.3); 
box-shadow: 0px 0px 6px 4px rgba(74,74,74,0.3);
}


@media (max-width:600px){
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  .simulador{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin: 0;
    padding: 30px;
  }

  .formulario {
    width: 100%;
  }


  .button {
    margin: 15px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  input[type="text"] {
    background-color: #efefef;
    width: 120px;
    box-shadow: 0 1px 0 0;
    border: 0 none;
    outline: 0;
  }
  
  .resultado{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .container{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card1, .card2, .card3, .card4, .card5, .card6{
    width: 150px;
    height: 60px;
  }
}

